@import '~abstracts';

html {
	@include typi-base();
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $tuna;
	color: $white;
}