$breakpoints: (
	null: $breakpoint-small,
	small: $breakpoint-medium,
	large: $breakpoint-large
);

$typi: (
	null: (16px, $fontRatio),
	large: ($fontBase, $fontRatio)
);

$h1-map: (
	null: (27px, 1.3),
	small: (40px),
	large: (60.75px, 1.2)
);

$h2-map: (
	null: (18px, 1.3),
	small: (27px),
	large: (40px, 1.3)
);

$h3-map: (
	null: (18px, $fontRatio),
	large: (27px, $fontRatio)
);

$h4-map: (
	null: ($fontBase, $fontRatio)
);