$breakpoint-large: 1000px;
$breakpoint-medium: 768px;
$breakpoint-small: 500px;

$myBreakpoints: (
    lg: $breakpoint-large,
    md: $breakpoint-medium,
    sm: $breakpoint-small
);

$white: #fff;
$catskillWhite: #F5F7FA;
$botticelli: #DDE2EE; 
$slateGray: #64728b;
$tuna: #363940;
$pictonBlue: #26A2EB;
$black: #000;

$ms-base: 18px;
$ms-ratio: 1.5;