@import '~abstracts';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.dialog {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 15px;
    padding: 25px;
    overflow: auto;
    z-index: 2;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.close {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 25px;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}