@import '~abstracts';

.container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 50px;
}

.switch {
	@include breakpoint(md) {
		margin-bottom: 0;
	}
	margin-bottom: 18px;
}

.formField {
	@include breakpoint(md) {
		margin-bottom: 0;
	}
	margin-bottom: 35px;
}