//---------------------------
//
// Globals
// =======
//
// Global CSS classes go here.
// They are at a higher level on
// the cascade than CSS modules, and
// the class names don't change during
// the build process.
//
//---------------------------

@import
	'vendor/index',
	'abstracts/index',
	'base/index',
	'layout/index';

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}










.example2-appear,
.example2-enter {
	transform: translate3d(0, -100px, 0);
	opacity: 0.01;
}

.example2-appear.example2-appear-active,
.example2-enter.example2-enter-active {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: opacity 500ms ease-in, transform 500ms ease;
}

.example2-leave.example2-leave-active {
	transform: translate3d(0, -100px, 0);
	opacity: 0.01;
	transition: opacity 300ms ease-in, transform 300ms ease;
}

.example2-leave {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
