@import '~abstracts';
@import '~typi';

.modalTitleContainer {
	text-align: center;
	margin-bottom: vr(3);
}

.modalTitleContainer__title {
	color: $tuna;
}

.modalTitleContainer__subTitle {
	@include breakpoint(sm) {
		width: 80%;
	}
	color: $slateGray;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.outer {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.inner {
	padding: 0 vr(1);
}

.summary {
	text-align: center;
}

.dataNode {
	@include breakpoint(md) {
		padding: vr(2) 0;
	}
	text-align: center;
	padding: vr(1) 0;
}

.dataNode__label {
	font-size: rem(14);
}

.buttonContainer {
	text-align: center;
}